<div class="about-jumbotron">
  <div class="about-wrapper">
    <h2>What is Tunescope?</h2>
    <p>TuneScope is a music sharing platform that allows a user to find their
      favorite albums, leave likes / comments to interact with other users, and
      add albums to their personal playlist</p>
    <div class="aboutBtn-container">
      <button id="learnMoreBtn"><a href="/signup">Start Sharing</a></button>
   

    </div>

  </div>

</div>