<div class="popup_container" id="popup_container">
  <span id="closeViewAblum">x</span>
  <div class="popup_wrapper">
    <div class="songlist" id="songlist">

    </div>
    <div class="album-content">
      <div class="album-img">
        <img src="" alt="albumcover" id="viewAlbumcover">

      </div>
      <div class="album-comments">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere distinctio tempora, earum assumenda suscipit
          dolore eligendi repellendus quod sequi, ipsam veniam impedit labore. Quibusdam consequatur voluptatibus ea
          perspiciatis inventore. Dignissimos.</p>

      </div>
    </div>

  </div>

</div>

<div class="album_row_wrapper" id="album_row_wrapper">
  <h2>Rock</h2>
  <div id="rock" class="album-row">

  </div>

  <h2>Metal</h2>
  <div id="metal" class="album-row">

  </div>

  <h2>Pop</h2>
  <div id="pop" class="album-row">

  </div>

  <h2>Electronic</h2>
  <div id="electronic" class="album-row">

  </div>

  <h2>R&B/Blues/Soul</h2>
  <div id="blues" class="album-row">
  </div>

  <h2>Jazz</h2>
  <div id="jazz" class="album-row">
  </div>

  <h2>Classical/Film</h2>
  <div id="classical" class="album-row">
  </div>

  <h2>Country</h2>
  <div id="country" class="album-row">
  </div>

  <h2>Rap/Hip-Hop</h2>
  <div id="rap" class="album-row">
  </div>


</div>

<script src="./explore.js"></script>