<div class="popup_container" id="popup_container">
  <span id="closeViewAblum">x</span>
  <div class="popup_wrapper">
    <div class="songlist" id="songlist">
    </div>
    {{! <div class="info">
      <ul class="album-info">
        <li id="albumId"></li>
        <li id="released"></li>
        <li id="length"></li>
        <li id="label"></li>
      </ul>
    </div> }}
    <div class="album-content">
      <div class="album-img">
        <img src="" alt="albumcover" id="viewAlbumcover" />
      </div>
      <form class="form comment-form">
        <div class="form-group">
          <textarea class="form-input" id="comment" name="comment" placeholder="message"></textarea>
        </div>
        <div class="form-group">
          <textarea class="form-input" id="user_id" name="comment" placeholder="user id"></textarea>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <div class="album-comments" id="album-comments">
      </div>
    </div>
  </div>
</div>
<div class="album_row_wrapper" id="album_row_wrapper">
  <h2 class="album-text">ROCK</h2>
  <div id="rock" class="album-row">
  </div>
  <h2 class="album-text">METAL</h2>
  <div id="metal" class="album-row">
  </div>
  <h2 class="album-text">POP</h2>
  <div id="pop" class="album-row">
  </div>
  <h2 class="album-text">ELECTRONIC</h2>
  <div id="electronic" class="album-row">
  </div>
  <h2 class="album-text">R&B/BLUES/SOUL</h2>
  <div id="blues" class="album-row">
  </div>
  <h2 class="album-text">JAZZ</h2>
  <div id="jazz" class="album-row">
  </div>
  <h2 class="album-text">CLASSICAL/FILM</h2>
  <div id="classical" class="album-row">
  </div>
  <h2 class="album-text">COUNTRY</h2>
  <div id="country" class="album-row">
  </div>
  <h2 class="album-text">RAP/HIP-HOP</h2>
  <div id="rap" class="album-row">
  </div>
</div>
<script src="./js/explore.js"></script>
