<style>
  .album-row img { height: 300px; width: 300px; border: 1px solid rgb(92, 92,
  92); margin: 3px; };

</style>

<h2 class="album-text">Rock</h2>
<div id="rock" class="album-row">

</div>

<h2 class="album-text">Metal</h2>
<div id="metal" class="album-row">

</div>

<h2 class="album-text">Pop</h2>
<div id="pop" class="album-row">

</div>

<h2 class="album-text">Electronic</h2>
<div id="electronic" class="album-row">

</div>

<h2 class="album-text">R&B/Blues/Soul</h2>
<div id="blues" class="album-row">
</div>

<h2 class="album-text">Jazz</h2>
<div id="jazz" class="album-row">
</div>

<h2 class="album-text">Classical/Film</h2>
<div id="classical" class="album-row">
</div>

<h2 class="album-text">Country</h2>
<div id="country" class="album-row">
</div>

<h2 class="album-text">Rap/Hip-Hop</h2>
<div id="rap" class="album-row">
</div>

<script src="./explore.js"></script>