<div class="jumbrotron">
    <div class="jumbrotron-text">
        <h2>Scope Out Your Favorite Album,<br>
            Then Find the Next One<span><i class="fab fa-itunes-note"></i></span></h2>
            <div class="jumbotronBtn-container">
                <button id="learnMoreBtn"><a href="/about">Learn More</a></button>
            </div>
    </div>
    <div id="signup" class="card">
        <div class="card-header">Signup</div>
        <div class="card-body">
            <form class="signup-form">
                <div>
                    <input type="text" id="username_signup" placeholder="username"/>
                   
                </div>
                <div>
                    <input type="text" id="email_signup" placeholder="email adress"/>
             
                </div>
                <div>
                    <input type="password" id="password_signup" placeholder="password"/>
                 
                </div>
                <div class="login-buttons">
                    <a href="/">Login Instead</a>
                    <button type="submit" id="signupButton">Signup</button>
                </div>
            </form>

        </div>
    </div>

</div>
<script src="./js/signup.js"></script>