<div class="login-wrapper">
    <div id="login" class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form class="login-form">
                <div>
                    <input type="text" id="email-login" />
                    <label for="email-login">E-mail:</label>
                </div>
                <div>
                    <input type="password" id="password-login" />
                    <label for="password-login">Password:</label>
                </div>
                <div class="login-buttons">
                    <button type="submit">Login</button>
                    <button id="signup-link"><a href="/signup">Signup Instead</a></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/login.js"></script>
