<div class="playlist-container">
    <div class="playlistheader">
        <h2>Your Playlist</h2>
    </div>
    <ol>
        <li>album</li>
        <li>album</li>
        <li>album</li>
        <li>album</li>
        <li>album</li>
        <li>album</li>
        <li>album</li>
    </ol>
</div>
